h1 {
    text-align: center;
}

.root {
    margin: 16px;
    width: 100%;
    text-align: center;
}

.todo {
    display:flex;
    justify-content: center;
    align-items: center;
}

.todo > span {
    margin: 8px;
}

.todo h2{
    margin-right: 8px;
}

.todo i {
    cursor: pointer;
    justify-content: center;
    font-size: 20px;
}

.root > input {
    margin: 16px;
    padding: 4px;
    width: 250px;
}
.root button  {
    cursor: pointer;
}